/* 定义动画 */

.fadeInTop {
    animation: fadeInTop 0.5s ease-in-out forwards;
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveUpDown {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes albumImg {
    from {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(2px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}