
:root {
    --primary-color: #007bff;

    --theme-bg-font-shadow: 
        0px 0px 1px rgba(255, 255, 255, .6),
        0px 4px 4px rgba(0, 0, 0, .05);
    --theme-bg-color: #43cbf59d;
    --theme-bg-animation: 
        radial-gradient(closest-side, #ffa2c1, rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, #ffa2c1, rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, #c2c0f1, rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, #ffa2c1, rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, #ffa2c1, rgba(248, 192, 147, 0));

    --nav-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --nav-move-btn-bg-color: #212529;
    --nav-move-btn-hover-bg-color: #da89a2;
    --nav-move-btn-color: white;
    --nav-search-bg-color: #f8f9fa;
    --nav-search-color: #212529;
    --nav-search-placeholder-color: #999;
    --nav-user-info-bg-color: white;
    --nav-user-info-color: #212529;
    --login-dialog-bg-color: white;
    --login-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --login-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --login-dialog-close-color: #212529;
    --login-dialog-close-hover-color: red;
    --login-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --login-dialog-title-color: #212529;
    --login-dialog-body-font-color: #212529;


    --aside-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --aside-memu1-h2-color: #212529;
    --aside-menu1-item-border-bottom: 1px solid #747272;
    --aside-menu2-item-icon-color: #212529;
    --aside-menu2-item-active-icon-color:white;
    /* --aside-menu2-item-bg-color: white; */
    --aside-menu2-item-font-color: #212529;
    --aside-menu2-item-active-font-color:white;
    --aside-menu2-item-hover-icon-color: white;
    --aside-menu2-item-hover-bg-color: #000;
    --aside-menu2-item-hover-font-color: white;
    --aside-menu1-func-btn-color:white;
    /* --aside-menu1-func-btn-bg-color: linear-gradient(to bottom right,#91defe,#99c0f9,#bdb6ec,#d7b3e3,#efb3d5,#f9bccc); */
    --aside-menu1-func-btn-bg-color: #212529;
    --aside-menu1-func-btn-flash-color: white;
    --aside-menu1-func-scrollbar-track-bg-color: transparent;
    --aside-menu1-func-scrollbar-thumb-bg-color: #da89a2;
    --aside-menu1-func-scrollbar-thumb-hover-bg-color: #e46a91;
    --create-playlist-dialog-bg-color: white;
    --create-playlist-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --create-playlist-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --create-playlist-dialog-close-color: #212529;
    --create-playlist-dialog-close-hover-color: red;
    --create-playlist-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --create-playlist-dialog-title-color: #212529;
    --create-playlist-dialog-body-font-color: #212529;
    --create-playlist-tag-dialog-bg-color: white;
    --create-playlist-tag-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --create-playlist-tag-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --create-playlist-tag-dialog-close-color: #212529;
    --create-playlist-tag-dialog-close-hover-color: red;
    --create-playlist-tag-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --create-playlist-tag-dialog-title-color: #212529;
    --create-playlist-tag-dialog-body-font-color: #212529;
    --edit-playlist-dialog-bg-color: white;
    --edit-playlist-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --edit-playlist-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --edit-playlist-dialog-close-color: #212529;
    --edit-playlist-dialog-close-hover-color: red;
    --edit-playlist-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --edit-playlist-dialog-title-color: #212529;
    --edit-playlist-dialog-body-font-color: #212529;
    --edit-playlist-tag-dialog-bg-color: white;
    --edit-playlist-tag-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --edit-playlist-tag-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --edit-playlist-tag-dialog-close-color: #212529;
    --edit-playlist-tag-dialog-close-hover-color: red;
    --edit-playlist-tag-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --edit-playlist-tag-dialog-title-color: #212529;
    --edit-playlist-tag-dialog-body-font-color: #212529;
    --show-playlist-dialog-bg-color: white;
    --show-playlist-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --show-playlist-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --show-playlist-dialog-close-color: #212529;
    --show-playlist-dialog-close-hover-color: red;
    --show-playlist-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --show-playlist-dialog-title-color: #212529;
    --show-playlist-dialog-body-font-color: #212529;
    --show-playlist-tag-dialog-bg-color: white;
    --show-playlist-tag-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --show-playlist-tag-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --show-playlist-tag-dialog-close-color: #212529;
    --show-playlist-tag-dialog-close-hover-color: red;
    --show-playlist-tag-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --show-playlist-tag-dialog-title-color: #212529;
    --show-playlist-tag-dialog-body-font-color: #212529;
    --search-playlist-dialog-bg-color: white;
    --search-playlist-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --search-playlist-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --search-playlist-dialog-close-color: #212529;
    --search-playlist-dialog-close-hover-color: red;
    --search-playlist-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --search-playlist-dialog-title-color: #212529;
    --search-playlist-dialog-body-font-color: #212529;
    --search-playlist-tag-dialog-bg-color: white;
    --search-playlist-tag-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --search-playlist-tag-dialog-modal-mask-bg-color: rgba(0, 0, 0, 0.5);
    --search-playlist-tag-dialog-close-color: #212529;
    --search-playlist-tag-dialog-close-hover-color: red;
    --search-playlist-tag-dialog-close-btn-hover-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --search-playlist-tag-dialog-title-color: #212529;
    --search-playlist-tag-dialog-body-font-color: #212529;
    


    --main-scrollbal-track-bg-color: transparent;
    --main-scrollbal-thumb-bg-color: #da89a2;
    --main-scrollbal-thumb-hover-bg-color: #e46a91;
    --contacter-item-btn-color: white;
    --contacter-item-btn-bg-color: black;
    --contacter-item-btn-flash-color: white;    
    --backTop-btn-bg-color: white;
    --backTop-btn-hover-bg-color: slateblue;
    --backTop-btn-color: black;
    --backTop-btn-hover-color: white;





    --footer-border-top: 2px solid rgba(0, 0, 0, 0.1);
    --footer-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --footer-song-name-color: #333;
    --footer-song-singer-color: #666;
    --footer-player-btn-color: #333;
    --footer-player-btn-hover-color: white;
    --footer-player-time-color: #666;    
    --footer-func-icon-color: #333;
    --footer-func-icon-hover-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    --player-progress-bg-color: white;
    --player-progressed-bg-color: #666;
    --player-knob-bg-color: rgba(43, 43, 43, 0.8);
    --volume-progress-bg-color: white;
    --volume-progressed-bg-color: black;
    --volume-knob-bg-color: rgba(43, 43, 43, 0.8);
    



    --calendar-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0 , 0, 0, 0.2);
    --calendar-header-mask-bg-color: rgba(255, 255, 255, 0.4);
    --calendar-header-color: black;
    --calendar-header-btn-color: black;
    --calendar-header-btn-bg-color: white;
    --calendar-header-btn-hover-bg-color: #000;
    --calendar-header-btn-hover-color: white;
    --calendar-table-top-week-color: #000;
    --calendar-table-current-day-color: white;
    --calendar-table-bg-color: white;
    --calendar-table-current-mouth-color: #000;
    --calendar-table-other-mouth-color: #818181;
    --calendar-table-hover-bg-color: #000;
    --calendar-table-hover-color: white;



    --album-title-color: #212529;
    --album-card-playCount-color: #fff;
    --album-card-playCount-bg-color: rgba(0, 0, 0, 0.5);
    --album-card-info-color: black;


    --localPlayList-switchBtn-bg-color: #444;
    --localPlayList-switchBtn-active-bg-color: #000;
    --localPlayList-switchBtn-color: white;
    --localPlayList-switchBtn-active-color: white;
    --localPlayList-switchBtn-hover-color: #444;
    --localPlayList-switchBtn-disabled-color: gray;
    --comment-switchBtn-bg-color: #444;
    --comment-switchBtn-active-bg-color: #000;
    --comment-switchBtn-color: white;
    --comment-switchBtn-active-color: white;
    --comment-switchBtn-hover-color: #444;
    --comment-switchBtn-disabled-color: gray;
    --showPlayList-switchBtn-bg-color: #444;
    --showPlayList-switchBtn-active-bg-color: #000;
    --showPlayList-switchBtn-color: white;
    --showPlayList-switchBtn-active-color: white;
    --showPlayList-switchBtn-hover-color: #444;
    --showPlayList-switchBtn-disabled-color: gray;
    --searchPlayList-switchBtn-bg-color: #444;
    --searchPlayList-switchBtn-active-bg-color: #000;
    --searchPlayList-switchBtn-color: white;
    --searchPlayList-switchBtn-active-color: white;
    --searchPlayList-switchBtn-hover-color: #444;
    --searchPlayList-switchBtn-disabled-color: gray;
}